# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.iml

# Android
android/local.properties
android/.gradle/
android/key.properties
android/app/google-services.json

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/flutter_export_environment.sh

# Firebase
google-services.json
GoogleService-Info.plist
firebase-service-account.json

# Environment
.env
*.env

# IDE
.idea/
.vscode/
*.swp
.DS_Store

# Keys & secrets
*.jks
*.keystore
key.properties
